/* Container général */
.search-container {
    margin-bottom: 20px;
}

/* Style du champ de recherche */
.search-container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Style du tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* En-têtes du tableau */
table thead th {
    text-align: left;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

/* Lignes du tableau */
table tbody tr {
    border: 1px solid #ccc;
}

/* Cellules du tableau */
table tbody tr td {
    padding: 10px;
}

/* Effet hover sur les lignes du tableau */
table tbody tr:hover {
    background-color: #e0e0e0;
}

/* Style du lien vers le profil détaillé */
table tbody tr td a {
    color: #007BFF;
    text-decoration: none;
}

/* Effet hover sur le lien */
table tbody tr td a:hover {
    text-decoration: underline;
}

.npc-table {
    width: 100%;
    border-collapse: collapse;
}

.npc-table th, .npc-table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.npc-table th {
    background-color: #f2f2f2;
}
