.create-npc-container {
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.field-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-field {
    width: 45%;  
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.button-container {
    text-align: center;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
}

.submit-button:hover {
    background-color: #45a049;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 1000; /* Assurez-vous qu'il s'affiche au-dessus de tout le reste */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-indicator {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}